
body{
        background-color: rgba(255, 207, 207, 1);
        min-height: 100vh;
        display:flex;
        flex-direction: column;
}
.format {
  color: white;
  text-align: center;


}
.monogram{
  color: #DA9898;
  
 
}
.card{
    position: relative;
    width: 400px;
    height: 117px;
    padding: 10px;
    border-radius: 12px;
    background: #F9DEDC; 
    display: flex;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;

}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

content{
     flex: 1;

}

.text .title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1D1B20;
  margin-bottom: 4px;
}

.text .description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1D1B20;
}